/* Zen Block */
#zen {
	width: 100%;
}
#zen .information {
	border-radius: 6px;
	margin: 0;
	text-align: center;
}
#zen .description {
	background: none;
	border: none;
	padding: 0;
}
.zen-head {
	cursor: pointer;
	margin-bottom: -8px !important;
}
.zen-body {
	display: none;
}
.zen_message {
	max-height: 15em;
	overflow: auto;
}
.zen_message .bbc_code {
	overflow: hidden !important;
	height: auto !important;
}
.full_text {
	background-image: url(../images/zen/zen_expand.png);
	background-position: 1em center;
	background-repeat: no-repeat;
	display: block;
}
.mini_text {
	background-image: url(../images/zen/zen_collapse.png);
	background-position: 1em center;
	background-repeat: no-repeat;
	display: block;
}
.zen_symbol {
	font-size: medium;
	text-decoration: none;
}
.ya-share2 {
	float: left;
}
.icon {
	vertical-align: middle;
}